<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

<form id="sign-up" action="/account/signup" method="post">
    <label for="register-email">Email:</label>
    <p><input type="text" id="register-email" name="email" placeholder="Input your email"></p>
    <label for="register-password">Password:</label>
    <p><input type="text" id="register-password" name="password" placeholder="Input your password"></p>
    <button type="submit">Submit</button>
</form>
</body>
</html>