/**
    tag selector
*/
html{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0px;    
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
    margin-left: 0px;
}

img{
    height: 100%;
}

main h1 {
    background-color: powderblue;
    text-align: center;
    margin: 0px;
    padding: 10vh;
}

main h2 {
    text-align: center;
    padding: 2vh 0 2vh 0;
}

/**
    class selector
*/
.main-nav {
    height: 2vh;
    min-height: 24px;
    background-color: grey;
    margin: 0;
    padding: 1vh 0 1vh 0;
}

.logo {
    height: 100%;
    padding-left: 3vw;
}

.item-nav {
    height: 100%;
    padding-left: 0px;
}

.card-list {
    margin: 0 10vw 3vh 10vw;
}  

/**
    一開始先隱藏第五個以後的所有list-item
*/
.card-list > li:nth-child(n+5){
    display: none;    
}

.card-list-item {
    background-color: grey;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 10vh;
}

.card-list + button {
    background-color: powderblue;
    border: none;
    border-radius: 0.5rem;
    padding: 1vh 1vw;
}