/* type selector */
body {
  margin: 0px;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  margin: 0px 1vh;
}

header nav {
  background-color: white;
  position: fixed;
  min-height: 32px;
  top: 0;
  height: 6vh;
  width: 100%;
}

img {
  height: 100%;
}

main {
  margin-top: 6vh;
}
/* class selector */

.main-nav {
  height: 100%;
  margin: 0px;
}

.flex-container {
  height: 100%;
}

.product-nav {
  height: 100%;
  margin: 0px;
}

.misc-nav {
  height: 100%;
}

.misc-nav img {
  max-height: 30px;
}

.language-select {
  margin-right: 1vw;
}

.more-btn {
  margin-right: 1vw;
}

.banner {
  background-color: #1a73e8;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 3vh 0;
}

.hero-banner {
  background-color: #eee;
  height: 80vh;
  width: 100%;
}

.hero-banner-text {
  width: 60%;
  padding-left: 8vw;
}

.hero-banner-text > p:first-child {
  font-size: 4rem;
  letter-spacing: 0.5vh;
  margin: 1vh 2vh 1vh 0;
}

.hero-banner-text > p:nth-child(2) {
  font-size: 1.5rem;
  letter-spacing: 0.5vh;
  margin: 1vh 2vh 1vh 0;
}

.hero-banner img {
  object-fit: contain;
  width: 40%;
}

.underline {
  text-decoration: underline;
  color: black;
}

.hot-update,
.interested-content,
.android-new-feature {
  padding: 3vh 10vw 5vh 10vw;
  background-color: #f1f3f4;
}

.product-content,
.dev-content,
.hot-news,
.android-new-feature {
  padding: 3vh 10vw 5vh 10vw;
}

.interested-content-header img {
  height: 22px;
  padding-right: 1vh;
}

.interested-content-body li {
  border: 1px solid;
  border-radius: 5px;
  padding: 0 1vw;
  margin: 0;
}

.product-content {
  margin-top: 0px;
}

.card {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 12px;
  padding: 16px;
}

.card p{
    margin-bottom: auto;
}

.card img {
  height: 30px;
}

.main-content .center {
  margin: 2vh 0 2vh 0;
}

.main-content .center button,
.hot-news button,
.dev-content button {
  background-color: #1a73e8;
  color: white;
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  padding: 12px 24px;
}

.hot-update h2{
  color: #1a73e8;
}

.dev-content > p:first-child {
  font-size: 48px;
}

.dev-content > p:nth-child(2) {
  font-size: 24px;
}

.dev-content .card img {
  height: 10vh;
}

.hot-news h2 {
  font-size: 32px;
}

.hot-news p {
  margin-bottom: 2vh;
}

.hot-news .three-column-card-list .card {
  padding: 0px;
}

.hot-news .three-column-card-list .card img {
  min-height: 30vh;
  width: 100%;
  object-fit: fill;
  object-position: 16/9;
}

.info-block {
  padding: 24px;
}

.info-block a {
  font-size: 24px;
  color: #1a73e8;
}

.feature-image img {
  max-height: 50vh;
  width: 100%;
}

.android-new-feature .info-block span {
  display: block;
  margin-bottom: 8px;
}

.android-new-feature .info-block a {
  font-size: 48px;
  color: black;
  margin-bottom: 24px;
}

.android-new-feature .info-block button {
  background-color: #1a73e8;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 8px 24px;
  margin-top: 32px;
}

/* id selector */
#logo img {
  height: 3vh;
  object-fit: contain;
  align-content: center;
}
