/* type selector */
body {
    margin: 0px;
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
    margin: 0px 1vh;
}

header nav {
    background-color: white;
    position: fixed;
    min-height: 32px;
    top: 0;
    height: 6vh;
    width: 100%;
}

img {
    height: 100%;
}

main {
    margin-top: 6vh;
}
/* class selector */

.main-nav {
    height: 100%;
    margin: 0px;
}

.flex-container {
    height: 100%;
}

.product-nav {
    height: 100%;
    margin: 0px;
}

.misc-nav {
    height: 100%;
}

.misc-nav img {
    max-height: 30px;
}

.language-select {
    margin-right: 1vw;
}

.more-btn {
    margin-right: 1vw;
}

.banner {
    background-color: #1a73e8;
    text-align: center;
    padding: 3vh 0;
}

.hero-banner {
    background-color: #EEE;
    height: 80vh;
    width: 100%;
}

.hero-banner-text {
    width: 60%;
    padding-left: 8vw;
}

.hero-banner-text > p:first-child {
    font-size: 4rem;
    letter-spacing: 0.5vh;
    margin: 1vh 2vh 1vh 0;
}

.hero-banner-text > p:nth-child(2) {
    font-size: 1.5rem;
    letter-spacing: 0.5vh;
    margin: 1vh 2vh 1vh 0;
}

.hero-banner img {
    object-fit: contain;
    width: 40%; 
}

.underline {
    text-decoration: underline;
}

.interested-content {
    padding: 3vh 1.5vw 1vh 1.5vw;
}

.interested-content-header img{
    height: 22px;
    padding-right: 1vh;
}

.interested-content-body li {
    border: 1px solid;
    border-radius: 5px;
    padding: 0 1vw;
    margin: 0;
}
/* id selector */
#logo img{
    height: 3vh;
    object-fit: contain;
    align-content: center;
}



