html {
    height: 100%;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.product-nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.misc-nav {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
}