html {
  height: 100%;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 70%;
  justify-content: space-between;
  align-items: center;
}

.product-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.misc-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}
.hero-banner {
  display: flex;
  flex-wrap: wrap;
}

.hero-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-banner img {
  flex: 1;
}

/* for nav-bar */
@media (max-width: 600px) {

    .flex-container {
        justify-content: flex-end;
        margin-right: 1vw;
    }
    .product-nav li {
        display: none;
    }

    .search form input {
        display: none;
    }

    .misc-nav select {
        display: none;
    }
}

@media (min-width:600px) and (max-width: 850px) {

    .flex-container {
        justify-content: flex-end;
        margin-right: 1vw;
    }
    .product-nav li {
        display: none;
    }

}

@media (min-width: 850px) and (max-width: 1000px) {

    .flex-container {
        justify-content: space-between;
        margin-right: 1vw;
    }
    .product-nav li {
        display: none;
    }

    .product-nav > li:first-child,
    .product-nav > li:last-child {
        display: list-item;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {

    .flex-container {
        justify-content: space-between;
        margin-right: 1vw;
    }
    .product-nav li {
        display: none;
    }

    .product-nav > li:first-child,
    .product-nav > li:nth-child(2),
    .product-nav > li:last-child {
        display: list-item;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {

    .flex-container {
        justify-content: space-between;
        margin-right: 1vw;
    }
    .product-nav li {
        display: none;
    }

    .product-nav > li:first-child,
    .product-nav > li:nth-child(2),
    .product-nav > li:nth-child(3),
    .product-nav > li:nth-child(4),
    .product-nav > li:last-child {
        display: list-item;
    }
}

@media (min-width: 1440px) {

    .product-nav > li:last-child {
        display: none;
    }
}

@media (max-height: 800px) {
  main {
    margin-top: 32px;
  }
}