section {
    display: flex;    
    flex-direction: column;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-grow: 2;
}

.logo span{
    align-self: center;
}

.item-nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
}

.card-list + button {
    align-self: center;
}

@media (max-width: 320px) {
    main h1 {
        word-wrap: break-word;
    }
}
